@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: theme("colors.neutral.200");
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}
